/**Header Top*/
.site-header{
	margin-bottom:35px;
	position: relative;
	width:100%;
	#topHeader{
	    background: $color__def_f2f;
	    @include font-size(0.8125);
	    padding-top: 7px;
	    padding-bottom: 7px;
	    box-shadow: inset 0 0px 2px 0px rgba(0, 0, 0, 0.15);
	}
	#site-navigation{
		.site-branding{
			padding:0;
		}
		.site-title,
		.site-description{
			line-height: 1.2;
			margin:0;
		}
		.navbar-nav{
			.nav-link{
				padding-bottom:1.8em;
				padding-top:1.8em;
			}
		}
		.dropdown-menu{
			.nav-link{
				padding-bottom:0.8em;
				padding-top:0.8em;
			}
		}
	}

	//site-title & desc
	.site-header{
		margin-bottom:35px;
		position: relative;
		width:100%;
	}
	.site-branding{
		.site-title,
		.site-description,
		.site-logo{
			line-height:1.5;
			margin-left: 1.5em;
		}
		.site-title{
		    font-family: "Helvetica Neue", sans-serif;
		    @include font-size(1.75);
		    font-weight: 600;
		    margin: 0.67em 0 0em 0.8em;
		    line-height:1.5;
		}
		.site-description{
			font-weight:normal;
			@include font-size(0.875);
			margin-bottom: 1em;	
			margin-top: 0em;	
		}
	}

	//site-navigation
	#site-navigation{
		background-color: $color__def_08c;
		.navbar-nav{
			.nav-link{
				color: $color__white;
				@include font-size(0.875);
				padding-bottom: 0.8em;
				padding-top: 0.8em;
				&:hover,&:focus{
					background-color:$color__def_ffa;
					outline:none;
				}
			}
			.active{
				background-color:$color__def_ffa;
				outline:none;
				&:hover,&:focus{
					background-color:$color__def_ffa;
					outline:none;
				}
			}
			.dropdown-menu{
				background-color: $color__def_007;
				border-radius: 0;
				.nav-link{
					@include font-size(0.875);
				}
			}
		}
	}
}

/**Footer*/
.site-footer{
	.site-socket{
		background: $color__def_f2f;
	}
	.site-info{
		background: $color__def_002;
		color: $color__white;
		a{
			color: $color__def_ffa;
		}
	}
}
